
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "Untitled" %></title>

    <link href="stylesheets/app.css" rel="stylesheet">
    <link href="bower_components/tether/dist/css/tether.css" rel="stylesheet">
  </head>

  <body class="<%= page_classes %>">
     <body>
    <%= yield %>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script>
    $(document).ready(function() {
      var append = false;
      // $(add_button).click(function(e){ //on add input button click
      //     e.preventDefault();
      //     if(x < max_fields){ //max input box allowed
      //         x++; //text box increment
      //         $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
      //     }
      // });
      $('.done').click(function(){
          $(this).parents('#content-item').animate({
          opacity: 'hide',
          left: '-20px',
        }, 'slow', 'linear', function() {
          $(this).addClass('done hide');
        });
      })

      $('.del-but').click(function(){
          $(this).parents('#content-item').animate({
          opacity: 'hide',
          left: '-20px',
        }, 'slow', 'linear', function() {
          $(this).remove();
        });
      })

      $('.show').click(function(){
          if( append ){
            $('.done.hide').css('display','none');
            append = false;
          }else{
            $('.done.hide').css('left',0).css('opacity',1).css('display','flex');
            append = true;
          }
        });


    });
    </script>
  </body>
</html>