.form-check-input{
	position: static;
	margin:0;
}
.form-control{
	border: 2px solid $brand-primary;
	height:48px;
    font-size: 24px!important;
    padding: 6px;
    color: $black;
}
.form-control::placeholder {
    color: $gray;
}


.form-check-input {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
  	font-size:26px;
  	border: 1px solid $brand-primary;
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '✓';
    color: $brand-primary;
    font-size:26px;
    position: absolute;
    left: 5px;
    top: -3px;
    width: 20px;
    height: 20px;
  }
}