#main{
	background-color:$gray;
	padding: 29px;
	margin: 16px 4px 16px 4px;
	border-radius: 4px;
}
#content-item{
	position: relative;
	margin-bottom:16px;
	#check{
		padding-bottom:16px;
	}
	#name{
		color: $brand-primary;
		padding-bottom:16px;
	}
	#del{
		padding-bottom:14.5px;
	}
	#spliter{
		div{
		border-bottom:1px solid $brand-primary;
		}
	}
}
.hide{
	display: none;
}
#withdone{
	color:$brand-primary;
}
@include media-breakpoint-up(sm) { 
	#main{
		margin: 0 auto;
		margin-top:16px;
		margin-bottom:16px;
	}
}
@include media-breakpoint-up(md) {
	#main{
		padding: 64px;
	}
	#content-item{
		#spliter{
			div{
			border-bottom:0px;
			}
		}
	}
	#withdone{
		.spliter{
			border-top:1px solid $brand-primary;
			margin-bottom: 30px;
		}
	}
	// #content-item:last-child{
	// 	background-color: red;
	// }
} 