// add your custom styles here
// to learn more about SASS, visit sass-lang.com
/*columns end*/
html, body{
	height:100%;
}
body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: PingFangTC-Medium;
    margin-bottom: 0.5rem;
    font-family: inherit;
    line-height: 1.1;
    color: $brand-primary;
}
h1{
	font-size:40px;
}
h2{
	font-size:32px;
}
h3{
	font-size:24px;
}
h4{
	font-size:20px;
}
h5{
	font-size:12px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
@include media-breakpoint-up(md) { 
	h3{
		font-size:48px;
	}
}

