/*helper starts*/
.no-margin{
	margin:0 !important;
}
.no-padding{
	padding:0 !important;
}
.no-border{
	border-width:0;
}
.border-right{
    border-right:1px solid $brand-primary;
}
.border-top{
    border-top:1px solid $brand-primary;
}
.border-bottom{
    border-bottom:1px solid $brand-primary;
}
.border-left{
    border-left:1px solid $brand-primary;
}
.line-height-1{
	line-height:1;
}
.padding-top-5px{
	padding-top:5px;
}
.padding-top-10px{
	padding-top:10px;
}
.padding-top-15px{
	padding-top:15px;
}
.padding-top-19px{
	padding-top:19px;
}
.padding-top-30px{
	padding-top:30px;
}
.padding-top-60px{
	padding-top:60px;
}
.padding-top-120px{
	padding-top:30px;
}
.padding-bottom-5px{
	padding-bottom:5px;
}
.padding-bottom-10px{
	padding-bottom:10px;
}
.padding-bottom-15px{
	padding-bottom:15px;
}
.padding-bottom-30px{
	padding-bottom:30px;
}
.padding-bottom-60px{
	padding-bottom:60px;
}
.padding-bottom-120px{
	padding-bottom:30px;
}
.margin-top-5px{
	margin-top:5px;
}
.margin-top-10px{
	margin-top:10px;
}
.margin-top-15px{
	margin-top:15px;
}
.margin-top-30px{
	margin-top:30px;
}
.margin-top-60px{
	margin-top:60px;
}
.margin-top-120px{
	margin-top:30px;
}
.margin-bottom-5px{
	margin-bottom:5px;
}
.margin-bottom-10px{
	margin-bottom:10px;
}
.margin-bottom-15px{
	margin-bottom:15px;
}
.margin-bottom-30px{
	margin-bottom:30px;
}
.margin-bottom-60px{
	margin-bottom:60px;
}
.margin-bottom-120px{
	margin-bottom:30px;
}
.padding-top-0px{
	padding-top:0px;
}
.padding-bottom-0px{
	padding-bottom:0px;
}
.padding-15px{
	padding:15px;
}
.padding-30px{
	padding:30px;
}
/*helper ends*/