---
title: Todo list
---
<div id="main" class="container">
  <div id="add" class="row padding-bottom-30px">
    <div class="col-12">
      <h3>24 APR 2017 Mon</h3>
    </div>
    <div class="col-12 padding-top-19px">
      <input class="form-control" id="add_task" placeholder="My new task">
    </div>
  </div>
  <!-- item -->
  <% 5.times do |num| %>
    <div id="content-item" class="row">
      <div class="col-12 col-md-1" id="check">
        <input class="form-check-input done" id="styled-checkbox-<%= num %>" type="checkbox" value="value1">
        <label for="styled-checkbox-<%= num %>"></label>
      </div>
      <div class="col-12 col-md-10" id="name">
        Task <%= num %>
      </div>
      <div class="col-12 col-md-1" id="del">
        <button type="button" class="btn btn-primary del-but">del</button>
      </div>
      <div class="col-12" id="spliter">
        <div class="col-12">
        </div>
      </div>
    </div>
  <% end %>
  <div id="withdone" class="row">
    <div class="col-12 spliter">
    </div>
    <div class="col-2 col-md-1">
        <input class="form-check-input show" id="styled-checkbox" type="checkbox" value="value1">
        <label for="styled-checkbox"></label>
    </div>
    <div class="col-10 col-md-11">
      With done
    </div>
  </div>
</div>
